:root {
    --text-color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #191D23;
}

/* Navbar Style */

.navbar {
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(0); 
    transition: backdrop-filter 0.5s ease;
}


* {
    z-index: 2;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
}

.nav-link {
    font-size: 16px;
    color: var(--text-color);
}

.nav-link.active {
    font-weight: 700;
}

.follow {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.follow p,
.follow a:first-child{
    display: inline-block;
    margin-left: 12px;
    color: var(--text-color);
  }

.follow a {
    color: var(--text-color);
    margin-left: 12px;
    margin-right: 3px;
    transition: all .50s ease;
}

.follow a:hover {
    color: blue;
    padding-left: 5px;
    padding-right: 5px;
}

/* Navbar End Style */


/* Home Section style */

#home {
    background-image: url(/asset/img/home-page.png);
    height: 100vh;
    width: 100%;
    position: relative;
}

#home::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
}

.home-tagline h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
}

.home-tagline p {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 35px;
    line-height: normal;
    width: 85%;
}

.btn {
    border-radius: 12px;
    transition-duration: 0.4s;
    size: 20px;
}

.btn:hover {
    background-color: orange; /* Green */
    color: white;
}

/* Second Section */
#second {
    background-color: #191D23;
    padding: 100px 0;
}

#second h1 {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.about-judul {
    margin-bottom: 120px;
}

.about-img {
    margin-bottom: 50px;
}

.about-text {
    color: var(--text-color);
}

.about-text p {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 35px;
    line-height: normal;
    width: 85%;
}

.verify p {
    display: inline;
    inline-size: 16px;
    margin-inline-start: 12px;
}

#second .btn {
    border-radius: 12px;
    transition-duration: 0.4s;
    size: 20px;
    margin-top: 24px;
}

#second .btn:hover {
    background-color: orange;
    color: white;
}

